* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --myGrey: grey
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--myGrey);
}

.thisone {
    display: flex;
}

section {
    display: flex;
    background-color: grey;
    
}

header {
    background-image: url(/assets/images/nightSkyFull.JPG);
    background-repeat: no-repeat;
    text-align: center;
    text-shadow: 2px 2px black;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0%;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 0%;
    
}


nav {
    display: flex;
    justify-content: center;
    background-color:grey;
    flex-wrap: wrap;
    
}


a {
    font-size: large;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(60,60,113,1) 35%, rgba(80,127,136,1) 100%);
}

a:hover {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(60,102,113,1) 35%, rgba(80,136,115,1) 100%); 
}

aside {
    background-color: rgb(45, 45, 45);
}

aside ul {
    padding: 0px;
}

aside ul li {
    list-style-type: none;
    padding: 15px 30px 15px 30px;
    white-space: nowrap;
}


main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: rgb(86, 86, 94);
    /* margin: 20px; */
    /* border: solid; */
}

img {
    margin: 10px;
    border: 5px;
    /* border-style:inset; */
    max-width: 50%;
}

/* @media screen and (max-width: 620px) {
    .card {
      display: flex;
      flex-wrap: wrap;
      width: 10%;
    }
  } */

  .single-nav li {
    text-align: center;
}

/* Responsive Design - <nav> switches to column orientation at 600px */
  @media screen and (max-width: 600px) {
    .single-nav {
        flex-direction:column;
    }
    
  }