* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(77, 77, 77);
}

/* li {
    display:inline;
} */

section {
    display: flex;
    background-color: grey;
}

header {
    display: flex;
    background-color: rgb(34, 66, 83);
    padding-left: 30px;
    padding-right: 30px;
}

/* header h1 {
    background-color: aqua;
    padding: 15px;
} */

/* header h1 {
    justify-content: right;
} */

nav {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: right; */
    background-color:grey;
    
}

/* nav ul {

} */

a {
    font-size: x-large;
    background-color: rgb(60, 94, 97);
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: rgb(40, 40, 40);
}

/* ul {
    display: flex;
    flex-wrap: wrap;
} */

/* ul li {
    padding: 10px;
} */

/* .imgheader {
    display: block;
    background-image: url("../images/nightSky.JPG");
} */

/* p {
    padding: 50px;
    font-size: large;
} */




aside {
    background-color: rgb(89, 112, 89);
}

aside ul {
    padding: 0px;
}

aside ul li {
    list-style-type: none;
    padding: 15px 30px 15px 30px;
}


main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: rgb(86, 86, 94);
    /* margin: 20px; */
    /* border: solid; */
}

img {
    margin: 10px;
    border: 5px;
    border-style:inset;
}

/* @media screen {
    
} */