* {
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav li {
    text-align: center;
    list-style: none;
}

@media screen and (min-width: 600px) {
    nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    nav li {
        flex: 1 0 auto;
        text-align: center;
    }
  }