* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(77, 77, 77);
    width: 1600px;
    margin: auto;
}

/* li {
    display:inline;
} */

section header nav {
    display: inline;
    background-color: grey;
    
}

header {
    background-image: url(/assets/images/pattern-for-website.png);
    display: flex;
    background-color: rgb(43, 43, 43);
    padding-left: 30px;
    padding-right: 30px;
}


header h1 {
    padding: 15px;
    /* margin: auto; */
    display: contents;
}

.backgroundpattern {
    /* background:
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #999 78%),
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
    #444;
    background-size: 16px 48px; */
}

/* header h1 {
    justify-content: right;
} */

nav {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: right; */
    background-color:grey;
    background-image: url(/assets/images/pattern-for-website.png);
    
}

/* nav ul {

} */

a {
    font-size: x-large;
    background-color: rgb(60, 94, 97);
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: rgb(40, 40, 40);
}

/* ul {
    display: flex;
    flex-wrap: wrap;
} */

/* ul li {
    padding: 10px;
} */

/* .imgheader {
    display: block;
    background-image: url("../images/nightSky.JPG");
} */

/* p {
    padding: 50px;
    font-size: large;
} */




aside {
    background-color: rgb(45, 45, 45);
}

aside ul {
    padding: 0px;
}

aside ul li {
    list-style-type: none;
    padding: 15px 30px 15px 30px;
    white-space: nowrap;
}


main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: rgb(86, 86, 94);
    /* margin: 20px; */
    /* border: solid; */
}

img {
    margin: 10px;
    border: 5px;
    border-style:inset;
    max-width: 50%;
}

@media screen and (max-width: 620px) {
    .card {
      display: flex;
      flex-wrap: wrap;
      width: 10%;
    }
  }